<% layout('layouts/boilerplate') %>

    <div class="row d-flex">
        <h1 class="text-center">Welcome to YelpCamp</h1>
        <div class="col-6 offset-3">
            <div class="card" style="width: 30rem;">
                <img src="https://lp-cms-production.imgix.net/2020-11/wildcamping.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <p>Best site to find the perfect camping for you, your friends or your family</p>
                    <a class="btn btn-dark" href="/campgrounds ">Check our campgrounds</a>
                </div>
            </div>
        </div>